.testimonial {
    width: 100%;
    height: 70vh;
    position: relative;
    background-color: #B4BDFF;
    /* padding-left: 10%; */
    font-size: 120%;
    color: white;
    font-weight: 300;
}

.swipe {
    background-image: url("../../../images/back_services.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.left p {
    margin-left: 8vw;
    font-size: 120%;
    font-weight: 400;
    margin-top: 0;
}

.left {
    position: relative;
    z-index: 1;
    width: 50%;
    height: 70vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;

    background-color: rgba(0, 0, 0, 0.3);


}

.author {
    color: aqua;
}

.content::before {

    content: "â";
    font-size: 2.3em;
    line-height: 0.1em;
    margin-right: 0.5em;
    vertical-align: 0.2em;

}



/* .content::after {
    content: "--> by Amit Giri";
    font-size: 1em;
    margin-top: 1rem;
    margin-left: 70%;
    display: block;
    
    white-space: pre;
    
} */



.right {
    width: 50%;
    height: 70vh;
    display: flex;
    align-items: center;
    position: absolute;
    left: 33%;
    top: 0vh;
}

.right img {
    width: 80%;
    height: auto;
}

@media (max-width: 767px) {
    .swipe {
        background-position: right;
    }

    .left {
        background-color: rgba(0, 0, 0, 0.6);

    }

    .left p {
        font-size: 90%;
        font-weight: 300;
    }
}

@media (max-width: 460px) {
    .testimonial {
        font-size: 100%;
    }

    .left p {
        font-size: 80%;
        font-weight: 300;
    }
}