/* AboutUs.module.css */
.container {
    width: 100vw;
}



.story,
.menu {

    padding: 2% 5%;
    overflow-wrap: break-word;
    /* This property allows the line to break within words */
    word-wrap: break-word;
    /* Fallback for older browsers */
    max-width: 70vw;
    /* Set your desired maximum width */

}

.gallery h2 {
    text-align: center;
}

.gallery h2,
h4,
p {
    margin: 0;
}

.imageContainer {
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
    padding-bottom: 3%;

}